@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  /* --background: #ffffff; */
  /* --foreground: #000000; */
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;
  /* font-family: var(--font-vl); */
  /* font-family: var(--font-pjs); */
}

button {
  cursor: pointer !important;
}
